footer.footer
	.container
		.footer-wrapper
			.footer-logo-wrapper
				a(href="#").footer-logo-link
					img(src="img/logo-light.png", alt="Logo").footer-logo-img
			nav.footer-nav
				ul.footer-nav-list
					.footer-nav-list-divider
						li.footer-nav-li
							a(href="").footer-nav-link About
						li.footer-nav-li
							a(href="").footer-nav-link Blog
						li.footer-nav-li
							a(href="").footer-nav-link Q & A
						li.footer-nav-li
							a(href="").footer-nav-link Carriers
					.footer-nav-list-divider
						li.footer-nav-li
							a(href="").footer-nav-link Contact Us
						li.footer-nav-li
							a(href="").footer-nav-link Privacy Policy
						li.footer-nav-li
							a(href="").footer-nav-link Terms of Service
						li.footer-nav-li
							a(href="").footer-nav-link Security
			.footer-end
				.footer-end-locals
					.footer-end-locale#js-footer-end-lang English
					.footer-end-locale#js-footer-end-region US
				.footer-end-copyright © 2019 Beyond Borders™

