header.header
	.container
		.header-wrapper
			.header-top-logo
				a(href="#").header-top-logo-link
					img(src="img/logo.png", alt="Beyond Borders Logo").header-top-logo-img
			nav.header-top-nav
				ul.header-top-nav-list
					li.header-top-nav-li
						a(href="#").header-top-nav-link Home
					li.header-top-nav-li
						a(href="#").header-top-nav-link Pages
					li.header-top-nav-li
						a(href="#").header-top-nav-link Hotels
					li.header-top-nav-li
						a(href="#").header-top-nav-link Flights
					li.header-top-nav-li
						a(href="#").header-top-nav-link Cars
					li.header-top-nav-li
						a(href="#").header-top-nav-link Packages
					li.header-top-nav-li
						a(href="#").header-top-nav-link Cruises
					li.header-top-nav-li
						a(href="#").header-top-nav-link Tours
