main.main-content
	.container
		ul.place-selection
			li.place-select
				a(href="#").place-select-link  Flight
				.place-select-icon-wrapper
					img(src="img/main-content/icon-flight.png", alt="")
			li.place-select
				a(href="#").place-select-link  Hotel
				.place-select-icon-wrapper
					img(src="img/main-content/icon-hotel.png", alt="")
			li.place-select
				a(href="#").place-select-link  Car
				.place-select-icon-wrapper
					img(src="img/main-content/icon-car.png", alt="")
			li.place-select
				a(href="#").place-select-link  Package Deals
				.place-select-icon-wrapper
					img(src="img/main-content/icon-package.png", alt="")
			li.place-select
				a(href="#").place-select-link  Cruise
				.place-select-icon-wrapper
					img(src="img/main-content/icon-cruise.png", alt="")
			li.place-select
				a(href="#").place-select-link  Tour
				.place-select-icon-wrapper
					img(src="img/main-content/icon-tour.png", alt="")
		.main-form
			h2.main-form-header Where would you like to go?
			.form-search






