section.section-newsletter
	.container
		.newsletter-wrapper
			.newsletter-confidence
				h1.newsletter-confidence-heading Book with Confidence
				ul.confidence-list
					li.confidence-li
						.confidence-number
							i 01
						.confidence-text-group
							h2.confidence-heading No booking extra charges
							p.confidence-description We don't charge you an extra fee for booking a hotel room with us
					li.confidence-li
						.confidence-number 02
						.confidence-text-group
							h2.confidence-heading No cancellation fees
							p.confidence-description We don't charge you a cancellation or modification fee in case plans change
					li.confidence-li
						.confidence-number 03
						.confidence-text-group
							h2.confidence-heading Instant confirmation
							p.confidence-description Instant booking confirmation whether booking online or via the telephone
					li.confidence-li
						.confidence-number 04
						.confidence-text-group
							h2.confidence-heading Flexible booking
							p.confidence-description You can book up to a whole year in advance until the moment of your stay
			.newsletter
				h1.newsletter-heading Subscribe to our newsletter
				.newsletter-form
					p.newsletter-description Enter your email address and we’ll send you our regular promotional emails, packed with special offers, great deals, and huge discounts
					.newsletter-email-form
						form(action="#", method="get")
							input(type="email", name value placeholder="Your Email").newsletter-email-input
							button(type="submit").newsleter-email-submit Submit
					//- .newsletter-follow-us
