section.section-hot-sales
	.container
		.hot-sales-today
			h2.hot-sales-heading Hot Sales Today: 
				span.hot-sales-places Paris, Amsterdam, Saint Petersburg & more
			.all-sales-btn-wrapper
				a(href="#").all-sales-btn All Sales
		.sales
			.sales-row
				.sales-item
					img(src="img/hot-sales-items/img-1.jpg", alt="Destination 1")
					.sales-info-group
						header.sales-item-title-group
							h1.sales-item-title Copley Square Hotel
							p.sales-item-description Boston, Massachusetts
						.sales-item-price-group
							p.sales-item-old-price From 
								span.crossed-price $269
							p.sales-item-price $175
								span.per-night /night
				.sales-item
					img(src="img/hot-sales-items/img-2.jpg", alt="Destination 2")
					.sales-info-group
						header.sales-item-title-group
							h1.sales-item-title Grand Hotel Bagni Nuovi
							p.sales-item-description Boston, Italy
						.sales-item-price-group
							p.sales-item-old-price From 
								span.crossed-price $632
							p.sales-item-price $345
								span.per-night /night
				.sales-item.sales-item-large
					img(src="img/hot-sales-items/img-3.jpg", alt="Destination 3")
					.sales-info-group
						header.sales-item-title-group
							h1.sales-item-title The Standard, East Village
							p.sales-item-description New York, New York
						.sales-item-price-group
							p.sales-item-old-price From 
								span.crossed-price $582
							p.sales-item-price $258
								span.per-night /night
			.sales-row
				.sales-item.sales-item-large
					img(src="img/hot-sales-items/img-4.jpg", alt="Destination 4")
					.sales-info-group
						header.sales-item-title-group
							h1.sales-item-title Ganges River Cruise
							p.sales-item-description London, United Kingdom
						.sales-item-price-group
							p.sales-item-old-price From 
								span.crossed-price $457
							p.sales-item-price $258
								span.per-night /night
				.sales-item
					img(src="img/hot-sales-items/img-5.jpg", alt="Destination 5")
					.sales-info-group
						header.sales-item-title-group
							h1.sales-item-title Town Hall Hotel
							p.sales-item-description Boston, Massachusetts
						.sales-item-price-group
							p.sales-item-old-price From 
								span.crossed-price $269
							p.sales-item-price $175
								span.per-night /night
				.sales-item
					img(src="img/hot-sales-items/img-6.jpg", alt="Destination 6")
					.sales-info-group
						header.sales-item-title-group
							h1.sales-item-title A Hidden NYC Mystery Hotel
							p.sales-item-description Boston, Italy
						.sales-item-price-group
							p.sales-item-old-price From 
								span.crossed-price $354
							p.sales-item-price $255
								span.per-night /night
