section.top-travel-destinations
	.container
		.top-travel-destinations-wrapper
			.top-travel-destination-sidebar
				header.destination-header-wrapper
					h1.destination-header Discover
						div 2364 destinations
					h1.destination-header With
						div 152,364 properties
				.destination-tabs
					.destination-tab-recommended Recommendation for you
					.destination-tab-item Australia & Oceania
					.destination-tab-item Asia
					.destination-tab-item Europe
					.destination-tab-item USA & Canada
					.destination-tab-item The rest of the world
			.destination-items
				.destination-items-row
					.destination-item
						header.destination-item-title-group
							h1.destination-item-title London — UK
							h2.destination-item-subtitle 1289 properties
						img(src="img/top-travel-destinations-items/img-1.jpg", alt="")
					.destination-item
						header.destination-item-title-group
							h1.destination-item-title Paris — France
							h2.destination-item-subtitle 239 properties
						img(src="img/top-travel-destinations-items/img-2.jpg", alt="")
					.destination-item
						header.destination-item-title-group
							h1.destination-item-title Rome — Italy
							h2.destination-item-subtitle 478 properties
						img(src="img/top-travel-destinations-items/img-3.jpg", alt="")
				.destination-items-row
					.destination-item
						header.destination-item-title-group
							h1.destination-item-title London — UK
							h2.destination-item-subtitle 1289 properties
						img(src="img/top-travel-destinations-items/img-4.jpg", alt="")
					.destination-item
						header.destination-item-title-group
							h1.destination-item-title Paris — France
							h2.destination-item-subtitle 239 properties
						img(src="img/top-travel-destinations-items/img-5.jpg", alt="")
					.destination-item
						header.destination-item-title-group
							h1.destination-item-title Rome — Italy
							h2.destination-item-subtitle 478 properties
						img(src="img/top-travel-destinations-items/img-6.jpg", alt="")
