.top-travel-destinations {

}

.top-travel-destinations-wrapper {
	display: flex;
}

.top-travel-destination-sidebar {
	height: 100%;
	display: inline-block;
}

.destination-header-wrapper {

}

.destination-header {
	
}

.destination-tabs {

}

.destination-tab-recommended {

}

.destination-tab-item {
	padding: 1rem 0;
	border-bottom: solid 1px #111;
}

.destination-items {
	display: inline-block;
}

.destination-items-row {
	// display: block;
}

.destination-item {
	display: inline-block;
}