<!DOCTYPE html>
html(lang="en")
	include templates/defaults/head.pug
	body
		include templates/layouts/header-top.pug
		include templates/layouts/main-content.pug
		include templates/layouts/section-hot-sales.pug
		include templates/layouts/section-newsletter.pug
		include templates/layouts/footer.pug

